.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    position: sticky;
    top: 0;
    z-index: 100;
}
.amazon-logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
}
.header-input {
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}
.input {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
}
.search-icon {
    padding: 5px;
    height: 22px !important;
    background-color: #cd9042;
}
.header-nav {
    display: flex;
    justify-content: space-evenly;
}
.header-option {
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    color: white;
}
.option1 {
    font-size: 10px;
}
.option2 {
    font-size: 13px;
    font-weight: 800;
}
.header-optionbasket {
    color: white;
    display: flex;
    align-items: center;
}
.basket {
    color: white;
}
.basketCount {
    margin-inline: 10px;
}